{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR by Pilot Multimedia</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="content">
        <div class="left">
            <input type="file" id="fileInput" accept=".pdf,.csv,.jpg,.jpeg,.png" />
        </div>
        <div class="right">
            <iframe id="preview" style="display: none;"></iframe>
            <img id="imagePreview" style="display: none;" />
        </div>
    </div>
    <div class="footer">
        <button onclick="goToNextPage()">OK</button>
    </div>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>