{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR by Pilot Multimedia</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="content">
        <div class="left">
            <h1>Pilot Chart of Accounts</h1>
            <button id="backButton">Back</button>
        </div>
        <div class="right">
            <iframe id="preview" style="display: none;"></iframe>
            <img id="imagePreview" style="display: none;" />
        </div>
    </div>

    <script src="{% static 'js/processed.js' %}"></script>
</body>
</html>